
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto+Mono&display=swap');

html {
  scroll-behavior: smooth;
}

* {
    margin: 0;
    padding:0;
    color: White;
  }
  
  html{
    box-sizing: border-box;
    font-size: 62.5%;
  }
  
  
  @media (max-width: 75em){
    html {
      font-size:58%;
    }
  }
  
  @media (max-width: 28.75em){
    html {
      font-size: 55%;
    }
  }
  

  
  body{
    font-family: 'Montserrat';
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
  }
  
  h1{
    font-size: 5rem;
    text-align: center;
    padding: 0rem 2rem 0rem 2rem;
    font-style: bold;
  }
  
  h2{
    font-size: 3.5rem;
  }
  
  ul{
    list-style: none;
  }
  
  p{
    font-size: 1.2em;
  }
  
  span{
    
    color: yellow;
    
  }
  
  a{
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 2px black;
  }

  .subtitle{
    color: White;
    font-family: 'roboto mono';
    text-shadow: 1px 1px 2px black;
    }
  
  
  .btn{
    padding:0.5rem 1rem;
  }
  
  .nav{
    display: flex;
    position: fixed;
    justify-content: flex-end;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(139, 155, 170);
    
  }
  
  .nav-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .nav-list a {
    display: block;
    font-size: 2rem;
    padding: 2.5rem 1rem 2.5rem 1rem;
  }

  .nav-list a:hover {
    background-color: rgb(212, 212, 0);
    transition: background-color 1s;
  }

  .welcome-section {
    padding-top: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    width: 100%;
    height: 100vh;
    background-image: url("media/Alexis-desarrollando.jpg");
    background-color: rgb(80, 80, 80);
    background-blend-mode: soft-light;
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
  }
  


  .projects-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(147, 164, 180);
    
  }

  
  .projects-section-header{
    margin-bottom: 5rem;
    margin-top: 1rem
  }
  
  .btn-show-all{
    background: rgb(220, 220, 0);
    padding: 1em;
    border-radius: 8px;
  }

  .btn-show-all:hover{
    background-color: rgb(199, 199, 0);
    transition: background-color 1s;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 720px;
    margin-bottom: 5rem;
  }
  
  .projects-section{
    text-align: center;
    padding: 10rem 2rem;
    
  }
  
  .project-title{
    background:rgb(122, 137, 151);
    padding: 2rem 0rem 1rem 0rem;
    border-radius: 8px;
  }


  .project-image{
    font-size: 5em;
  }
  .contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    background: rgb(147, 169, 190);
  }
  
  .contact-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 4rem;
  }

  .contact-details:hover {
    color: yellow;
    transition: color 1s;
  }
  
  footer{
    background: rgb(147, 169, 190);
    font-size: 1.5rem; 
    padding-left: 1em;

  }